---
import Layout from "./src/layouts/Layout.astro";
import marco from "../assets/marco.jpeg";
import dhbw from "../assets/dhbw.jpeg";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col md:flex-row text-stone-300 gap-10">
    <div
      class="flex-1 p-5 md:p-10 flex flex-col md:flex-row items-center md:items-start gap-5"
    >
      <img
        src={marco.src}
        alt="Marco Preuss"
        class="w-32 h-32 object-top object-cover rounded-full"
      />
      <div>
        <h1 class="text-3xl text-stone-100">Marco Preuss</h1>
        <h2 class="text-m text-stone-200">product owner, web dev</h2>
      </div>
    </div>
    <div class="flex-1 p-5 md:p-10 flex flex-col gap-24 text-sm font-light">
      <div class="flex flex-col gap-2">
        <p>
          Hey there! I'm Marco Preuss from Karlsruhe, Germany. I started off in
          project management, focusing on product and process ownership.At
          dmTech, my role as a Product Owner involved managing web and mobile
          displays for a corporate shop, a task I found both challenging and
          rewarding.
        </p><p>
          Recently, I've shifted gears into software engineering, diving into
          courses on ReactJS and more. This change-up is all about keeping
          things fresh and tackling new challenges. So, here's a quick look at
          my journey and the skills I've picked up along the way. Cheers!
        </p>
      </div>
      <!-- CV -->
      <div class="flex flex-col gap-10">
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <label>2013-2016</label>
          <div class="flex-1 flex flex-col gap-2">
            <h1 class="font-bold">Studium Wirtschaftsinformatik</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              nisi perspiciatis consectetur perferendis laboriosam nemo,
              reiciendis, facilis eum harum numquam quod maxime distinctio unde
              natus tenetur, rem doloremque delectus voluptatibus!
            </p>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <label>2013-2016</label>
          <div class="flex-1 flex flex-col gap-2">
            <h1 class="font-bold">Studium Wirtschaftsinformatik</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              nisi perspiciatis consectetur perferendis laboriosam nemo,
              reiciendis, facilis eum harum numquam quod maxime distinctio unde
              natus tenetur, rem doloremque delectus voluptatibus!
            </p>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <label>2013-2016</label>
          <div class="flex-1 flex flex-col gap-2">
            <h1 class="font-bold">Studium Wirtschaftsinformatik</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              nisi perspiciatis consectetur perferendis laboriosam nemo,
              reiciendis, facilis eum harum numquam quod maxime distinctio unde
              natus tenetur, rem doloremque delectus voluptatibus!
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
