---
import Layout from "../layouts/Layout.astro";
import marco from "../assets/marco.jpeg";
---

<Layout title="about">
  <main
    class="p-5 flex flex-col gap-10 w-full md:w-2/3 lg:w-1/2"
  >
    <div class="flex items-center gap-5">
      <!-- header -->
      <div class="avatar">
        <div class="w-24 rounded-full">
          <img src={marco.src} alt="marco preuss" />
        </div>
      </div>
      <div class="flex flex-col">
        <h1 class="text-xl font-bold">Marco Preuss</h1>
        <h2 class="text-sm">web/app dev, product owner</h2>
      </div>
    </div>

    <!-- content -->
    <div class="flex flex-col gap-3 text-sm rounded bg-base-200 p-3">
      <p>
        Hey there! I'm Marco Preuss from Karlsruhe, Germany. I started off in
        project management, focusing on product and process ownership.At dmTech,
        my role as a Product Owner involved managing web and mobile displays for
        a corporate shop, a task I found both challenging and rewarding.
      </p><p>
        Recently, I've shifted gears into software engineering, diving into
        courses on ReactJS and more. This change-up is all about keeping things
        fresh and tackling new challenges. So, here's a quick look at my journey
        and the skills I've picked up along the way. Cheers!
      </p>
    </div>
  </main>
</Layout>
